/*  */
p{
    text-align: justify;
    font-size: larger;
}
footer{
    background-color: #767676;
}
img{
    width: 100%;
}
h3, h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* classes */
.navbar-brand {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', -serif;
}
.nav-item {
    font-size: large;
}

/* id */
#menu-nav{
    background-color: #002687;
}
#icon{
    width: 30px;
}
#icon-menu {
    width: 30px;
    border-radius: 50%;
}
#rodape-link, #rodape-contato{
    color: white;
}
#rodape-link{
    text-decoration: underline;
}
#horarios{
    border-color: white;
    text-align: center;
    background-color: transparent;
}
#elementos-horarios {
    background-color: transparent;
    color: white;
}

#horarios tbody tr td{
    background-color: transparent;
    color: white;
}

#info {
    background-image: linear-gradient(to right,#186FAB, #0c3ab0);
    color: white;
}
#neste-site {
    background-image: linear-gradient(to right,#186FAB, #0c3ab0);
    color: white;
    text-align: center;
}
#neste-site img{
    width: 70%;
    border: solid black;
    border-radius: 50%;
    
}
#neste-site p {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 5%;
}

::selection {
    background-color: #002687;
    color: white;
}

#info ::selection {
    background-color: white;
    color: #002687;
}

#sobreNos {
    width: 75%;
    border: solid #002687;
    border-radius: 25%;
}

#topicos-desafios {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
} 